*,
*::before,
*::after {
  box-sizing: border-box;
  text-align: center;
  margin: auto;
  padding: 0;
}

:root {
  --ff-primary: 'Bree Serif', serif;
  --ff-header: 'Oleo Script', cursive;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fcedda;
  --clr-dark: #033a46;
  --clr-accent: #63b6c4;
  --clr-backup: #95a595;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.5rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 3.5rem;
    --fs-h2: 3rem;
    --fs-h3: 1.75rem;
    --fs-body: 1.125rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em, 2em;
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

header {
  text-align: center;
  font-family: var(--ff-header);
  font-size: var(--fs-h1);
  color: var(--clr-accent);
}

button {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
  border-radius: 0.5em;
  border: 0.5px solid var(--clr-dark);
  margin-top: 0;
  margin-bottom: 3em;
}

button:hover {
  transform: scale(1.1);
}

input {
  border-radius: 0.5em;
  height: 2em;
  margin: 1em;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}
