.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100vw;
  background-color: var(--clr-dark);
  padding-bottom: 0.5em;
}

.score {
  font-size: var(--fs-h3);
  color: var(--clr-accent);
}

.header a {
  text-decoration: none;
}

.header a:visited {
  color: var(--clr-accent);
}

.header a:hover {
  transform: scale(1.2);
  opacity: 0.5;
}
