.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100vw;
  background-color: var(--clr-dark);
}

.bar {
  border-bottom: 2px solid var(--clr-backup);
  width: 100vw;
  margin: 0;
  margin-top: 1em;
}

.score {
  font-size: var(--fs-h3);
  color: var(--clr-accent);
}

.header a {
  text-decoration: none;
}

.header a:visited {
  color: var(--clr-accent);
}
